@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
body,
h3,
div,
hr {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    width: 30%;
    min-width: 420px;
    margin: 0 auto;
}

.card {
    font-family: "Montserrat", sans-serif;
    padding: 0.8em;
    background-color: rgb(245, 245, 245);
    margin-top: 2em;
    border-radius: 0.2em;
    box-shadow: 0.1em 0.2em 0.6em rgb(194, 193, 193);
}

.card__header {
    display: grid;
    grid-template-columns: max-content max-content 1fr max-content;
    padding-bottom: 10px;
}

.header-user-name {
    font-size: 0.9em;
    font-weight: 600;
}

.header-user-nik {
    font-size: 0.9em;
    text-transform: lowercase;
    color: #333;
}

.header-user-email {
    grid-column: span 2;
    text-transform: lowercase;
    font-size: 0.8em;
    font-weight: 400;
    font-style: italic;
}

.card__post-wrapper {
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.card__post-title {
    font-family: "Times New Roman", Times, serif;
    padding-bottom: 6px;
    font-size: 1.6em;
}

.card__post-text {
    font-size: 0.9em;
    font-weight: 500;
}

.card__post-title::first-letter,
.card__post-text::first-letter {
    text-transform: uppercase;
}

.btn-delete {
    grid-column: 4;
    border: none;
    color: #888;
    background-color: rgb(245, 245, 245);
    cursor: pointer;
}

.btn-delete:hover {
    color: #555;
}

.temp {
    font-size: 0.7em;
    padding-right: 1em;
    font-weight: 700;
}